/* ******** */
/* BACK CSS */
/* ******** */
#sbhtml_table_wrapper>table {
    width: 100%;
    border: 1px solid #ddd;
}

.sbhtml_size_table tr>td:first-child input,
.sbhtml_size_table tr:nth-child(1)>td input {
    font-weight: 700;
}

div#sbhtml_size_chart {
    padding: 15px;
}

table.sbhtml_size_table {
    width: 100%;
}

table.sbhtml_size_table>thead>tr {
    line-height: 3;
}

table.sbhtml_size_table td {
    border: 1px solid #ddd;
    padding: 0;
    text-align: center;
    line-height: 3;
}

a.sbhtml_add_col,
a.sbhtml_add_row {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-decoration: none;
    background: #0073aa;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5;
}

a.sbhtml_del_col,
a.sbhtml_del_row {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    display: inline-block;
    text-decoration: none;
    color: white;
    line-height: 1.5;
}

button#sbhtml_save {
    width: 33%;
    line-height: 2;
    font-size: 16px;
    border: none;
    border-width: 2px;
    background: #0073aa;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button#sbhtml_delete {
    width: 33%;
    line-height: 2;
    font-size: 16px;
    border: #ff0000;
    border-width: 2px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    background: red;
    cursor: pointer;
    border-radius: 4px;
}

button#sbhtml_merge {
    width: 33%;
    line-height: 2;
    font-size: 16px;
    border: none;
    border-width: 2px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    background: #73c31d;
    cursor: pointer;
    border-radius: 4px;
}

.sbhtml_instructions {
    background: #efefef !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-align: center !important;
}

.sbhtml_content {
    margin-bottom: 15px;
}

table.sbhtml_size_table>tbody>tr>td:last-child {
    background: none;
    border: none;
}

div#sbhtml_content label {
    margin: initial;
    font-weight: 500;
    line-height: 3.7;
    display: block;
    float: none;
}

#sbhtml_content>label:nth-child(3) {
    margin-bottom: 20px;
}

div#sbhtml_content {
    clear: both;
    overflow: auto;
    padding: 10px 0px;
}

label.sbhtml_cb_label {
    width: 35% !important;
    line-height: 2.5 !important;
    position: relative;
    top: 7px;
}

button#sbhtml_save_dbs {
    background: #0073aa;
    border: none;
    color: white;
    border-radius: 3px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 20px;
    cursor: pointer;
}

textarea#sbhtml_remarks {
    width: 60%;
    margin-right: 15px;
}

button#sbhtml_save_remarks,
button#sbhtml_ul_image,
button#sbhtml_ul_img_global {
    background: #0073aa;
    border: none;
    color: white;
    border-radius: 3px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 20px;
    cursor: pointer;
}

div#sbhtml_img_div {
    position: relative;
    top: 30px;
}

img#sbhtml_img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

span#sbhtml_img_del,
span#sbhtml_img_del_global {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    background: red;
    color: white;
    line-height: 1.75;
    position: absolute;
    right: 9px;
    top: 9px;
    cursor: pointer;
    box-shadow: -1px 1px 3px #0000007d;
}

tbody#sbhtml_chart_data_body .highlight {
    font-weight: 700 !important;
    background: #efefef !important;
    color: #444444 !important
}

tbody#sbhtml_chart_data_body td.merge {
    background: #5bd97040;
}

div#sbhtml_img_div_global {
    position: relative;
    max-width: 50%;
    margin-top: 45px;
    margin-bottom: 15px;
}

div#sbhtml_img_div_global>img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}

div#sbhtml_global_note_div {
    width: 50%;
}

div#sbhtml_global_note_div>label {
    font-size: 14px;
    font-weight: 500;
    line-height: 3;
}

div#sbhtml_global_note_div>input {
    width: 74%;
    margin-bottom: 15px;
    display: block;
    float: left;
}

div#sbhtml_global_note_div>a {
    display: block;
    float: left;
    width: 25%;
    background: #0073aa;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 2;
    border-radius: 3px;
    font-weight: 500;
    position: relative;
    bottom: 19px;
    left: 7px;
}

ul.sbhtml_nav_tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
}

ul.sbhtml_nav_tabs>.sbhtml_nav_item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
    padding: 0;
    margin: 0;
    font-size: initial !important;
}

ul.sbhtml_nav_tabs>.sbhtml_nav_item.active {
    background: #666;
    color: white;
    border-color: #666 !important;
}

.sbhtml_tab_content>.sbhtml_tab_pane {
    display: none;
}

.sbhtml_tab_content>.sbhtml_tab_pane.active {
    display: block;
}

/* ********* */
/* FRONT CSS */
/* ********* */
a#sbhtml_single_size_chart {
    display: block;
    text-decoration: underline;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 5px;
    color: #666;
}

.single-product .product-info .variations .attribute-swatch .sbhtml_btn_wrap {
    display: inline-block;
    height: 50px;
    vertical-align: top;
    margin: auto;
    padding: 15px 0;
}

a#sbhtml_view_size_chart {
    width: 22px;
    height: 22px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #444444;
    line-height: 1.5;
    color: #444444;
    margin-right: 6px;
    font-weight: 600;
    letter-spacing: initial !important;
}

.sbhtml_link_text {
    display: block;
    font-size: initial;
    cursor: pointer;
    text-decoration: underline;
    font-size: large !important;
}

.sbhtml_label_wrap {
    text-align: right;
}

label#sbhtml_img_global_sc_label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

input#sbhtml_img_global_sc {
    line-height: 1.7 !important;
    min-height: 20px !important;
    border-radius: 3px;
    width: 37%;
    margin-right: 5px;
}

button#sbhtml_img_global_sc_save {
    background: #0073aa;
    color: white;
    border: none;
    line-height: 2;
    border-radius: 3px;
    padding: 0 15px;
    font-weight: 500;
    cursor: pointer;
}

div#sbhtml_global_note_cont {
    padding: 15px;
    text-align: center;
    font-weight: 600;
}

div#sbhtml_chart_overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background: #000000b8;
    left: 0;
    top: 0;
    overflow: auto;
}

div.sbhtml_chart_overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 9999;
    background: #000000b8;
    left: 0;
    top: 0;
    overflow: auto;
}

div#sbhtml_chart_modal {
    background: white;
    position: absolute;
    z-index: 1001;
    width: 50vw;
    padding: 25px;
    top: 55%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #ddd;
}

div.sbhtml_chart_modal {
    background: white;
    position: absolute;
    z-index: 1001;
    width: 50vw;
    padding: 25px;
    top: 575px;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 4px;
    border: 1px solid #ddd;
}

span#sbhtml_modal_close {
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1.1;
    box-shadow: -1px 1px 2px #00000057;
    cursor: pointer;
    letter-spacing: initial !important;
}

span.sbhtml_modal_close {
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1.1;
    box-shadow: -1px 1px 2px #00000057;
    cursor: pointer;
    letter-spacing: initial !important;
    font-size: initial;
}

.sbhtml_table_front>tbody>tr>td {
    text-align: center;
    border: 1px solid #ddd !important;
}

/* .sbhtml_table_front>tbody>tr:first-child>td:last-child {
    background: #efefef !important;
} */

.sbhtml_table_front {
    margin-bottom: 0 !important;
    font-size: 18px !important;
}

div#sbhtml_front_btn_cont button {
    border: 1px solid #ddd;
    height: 50px;
    width: 50px;
    padding: 0;
}

/* div#sbhtml_front_btn_cont {
    margin-bottom: -17px;
} */
div#sbhtml_front_btn_cont>label.checkbox {
    margin-right: 10px;
    display: inline-block;
}

div#sbhtml_front_btn_cont>button {
    margin-right: -5px;
}

.sbhtml_active {
    background: #666;
    color: white;
    border-color: #666 !important;
}

div#sbhtml_img_cont_front {
    padding-top: 45px;
}

div#sbhtml_img_cont_front>img {
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 3px;
}

div#sbhtml_chart_remarks_cont {
    line-height: 3;
    font-weight: 600;
    color: #777;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
}

table.variations td.label {
    width: 50%;
    display: inline-block;
}

table.variations td.value {
    width: 100%;
    display: block;
    padding-bottom: 1.3rem;
}

.variations .list-type:last-child td {
    border-bottom-width: 0 !important;
}

.product-variations.list-type.pa_size {
   position: relative;
   left: -5px;
}

.size-chart-label::after {
    content: ""; 
    display: none;
    color: initial;
}

td.label.size-chart-label {
    text-align: right;
    text-decoration: underline;
    font-size: inherit;
    cursor: pointer;
}

/* @MEDIA */
/* 1536px */
@media screen and (max-width: 1536px) {
    div#sbhtml_chart_modal {
        width: 70vw;
        top: 575px;
    }
}

/* 1440px */
@media screen and (max-width: 1440px) {
    div#sbhtml_chart_modal {
        width: 83vw;
    }
}

/* 1366px */
@media screen and (max-width: 1366px) {}

/* 1280px */
@media screen and (max-width: 1280px) {}

/* 1024px */
@media screen and (max-width: 1024px) {
    div#sbhtml_chart_modal {
        width: 90vw;
    }
}

/* 768px */
@media screen and (max-width: 768px) {}

/* 712px */
@media screen and (max-width: 712px) {}

/* 600px */
@media screen and (max-width: 600px) {}

/* 414px */
@media screen and (max-width: 414px) {}

/* 384px */
@media screen and (max-width: 384px) {}

/* 375px */
@media screen and (max-width: 375px) {}

/* 360px */
@media screen and (max-width: 360px) {}

/* 320px */
@media screen and (max-width: 320px) {}